<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }
        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid h-100 content">
    <div class="row bg-dark" style="height: 50px; padding: 2px; display: flex; align-items: center;">
        <div class="col-sm" style="flex: 1; color: white;font-size:20px">
            <span>
                <strong th:text="${user.getEmail()}"></strong>
            </span> with roles: <span th:text="${user.rolesToString()}"></span>
        </div>
        <div class="col-sm" style="text-align: right;">
            <a href="/logout" style="color: lightgray;">Logout</a>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-md-2" style="background-color: white;">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active">User</a>
            </nav>
        </div>
        <div class="col" style="background-color: whitesmoke;">
            <br/>
            <h1>User information-page</h1>
            <div class="border p-3">
                <h5 class="mb-0">About user</h5>
            </div>
            <div class="border p-3" style="background-color: white">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${user}">
                        <td th:utext="${user.getId()}">id</td>
                        <td th:utext="${user.getFirstName()}">first_name</td>
                        <td th:utext="${user.getLastName()}">last_name</td>
                        <td th:utext="${user.getAge()}">age</td>
                        <td th:utext="${user.getEmail()}">email</td>
                        <td th:utext="${user.rolesToString()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>